In [1]:
import pandas as pd
import numpy as np

In [12]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
ser_list = pd.Series(mylist)

ser_list

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [20]:
myarr = np.arange(3, 26)
ser_arr = pd.Series(myarr)

ser_arr

0      3
1      4
2      5
3      6
4      7
5      8
6      9
7     10
8     11
9     12
10    13
11    14
12    15
13    16
14    17
15    18
16    19
17    20
18    21
19    22
20    23
21    24
22    25
dtype: int32

In [25]:
mydict = dict(zip(mylist, myarr))
ser_dict = pd.Series(mydict)
ser_dict

a     3
b     4
c     5
e     6
d     7
f     8
g     9
h    10
i    11
j    12
k    13
l    14
m    15
n    16
o    17
p    18
q    19
r    20
s    21
t    22
u    23
v    24
w    25
dtype: int32

In [27]:
df = ser_dict.reset_index()

df

   index   0
0      a   3
1      b   4
2      c   5
3      e   6
4      d   7
5      f   8
6      g   9
7      h  10
8      i  11
9      j  12
10     k  13
11     l  14
12     m  15
13     n  16
14     o  17
15     p  18
16     q  19
17     r  20
18     s  21
19     t  22
20     u  23
21     v  24
22     w  25